/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global CSS variabel */
:root {
  --primary-color: #171a20cc;
}

body {
  font-size: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  width: 30%;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  cursor: pointer;
}

.btn_dark {
  background-color: rgba(60, 58, 58, 0.492);
}
